html {
    height: 100%;
}

body {
    height: calc(100vh - 100px);
    color: black;
}

i {
    color: black;
}

/* --------------------Navbar*/

.nav-extended {
    background-color: lightseagreen;
}

.nav-wrapper {
    padding: 10px 10px 0px 10px;
}

img.logo-navbar {
    max-height: 50px;
}

.nav-text {
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.dropdown-content{
   margin-top: 40px;
}

.shopping-basket-button-content {
    margin-top: -12px;
}



