{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/185656999b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
    <title>Eco Era Store</title>
</head>

<body>
    <header>
        <!--Navigation bar upper row-->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <!--Logo Center-->
                <a href="{% url 'home' %}" class="brand-logo center">
                    <img class="logo-navbar" src="media/img/logo-s.png" alt="Logo of Eco Era">
                </a>
                <!--My Account dropdown trigger left-->
                <ul id="nav-mobile" class="left">
                    <li><a class="dropdown-trigger btn" href='#' data-target="dropdown1">
                            <span class="nav-text">My Account ▼</span>
                        </a>
                    </li>
                </ul>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="#">Product Management</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
                    {% endif %}
                </ul>
                <!--Shopping basket right-->
                <ul id="nav-mobile" class="right">
                    <li><a class="{% if grand_total %} {% else %}{% endif %} btn" href="#">
                        <div class="shopping-basket-button-content">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                            <span class="nav-text">{% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                            </span>
                            </div>
                        </a>
                    </li>
                </ul>
            <div class="nav-content">
                <ul>
                    <li class="btn"><a href="#">Washable wipes</a></li>
                    <li class="btn"><a href="#">Washable cotton pads</a></li>
                    <li class="btn"><a href="#">Washable nursing pads</a></li>
                    <li class="btn"><a href="#">Washable sanitary pads</a></li>
                    <li class="btn"><a href="#">Blankets</a></li>
                    <li class="btn"><a href="#">How to use?</a></li>
                    <li class="btn"><a href="#">Information</a></li>
                    <li class="btn"><a href="#">Giftcard</a></li>
                </ul>
            </div>
             </div>
        </nav>
    </header>
    
    {% if messages %}
    <div>
    
    </div>
    {% endif %}
    
    {% block header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    
    <footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    {% block js %}
    {% endblock %}
    
    
    </body>
    
    </html>